*{
  box-sizing: border-box;
}
body{
 display: flex;
 justify-content: center;
 align-items: center;
}
.count-1{
  padding-top: 100px;
  
}
.btn-reset{
 margin-left: 70px;
}
.count-1 .input-p{
  display: inline;
}